:root{
    --light-gray : #f4f4f5;
    --dark-gray  : #cccdd1;
    --light-pink : #ff497c;
    --dark-blue  : #202833;
    --white: #fff;
    --black: #000;
    --light-green: #a0ce4e;
    --dark-green: #01bea5;
    --dark-orange: #f18a4d;
}